<header>
    <nav>
        <div class="header-container">
            <ul class="navigation-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/purchaseOrders">Purchase Orders</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="/parts">Parts</a></li>
                <li><a href="/customers">Customers</a></li>
            </ul>
        </div>
    </nav>
</header>
